<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"> </title>
</head>
<body>

<h1  th:text="${titulo}"></h1>



<table>

<thead>
<tr>
<td>id</td>
<td>nombre</td>
<td>precio</td>
<td>fecha</td>
</tr>
</thead>
<tbody>
<tr th:each="producto: ${productos}">
<td th:text="${producto.id}">&nbsp;</td>
<td th:text="${producto.nombre}">&nbsp;</td>
<td th:text="${producto.precio}">&nbsp;</td>
<td th:text="${producto.createAt}">&nbsp;</td>
</tr>

</tbody>
</table>
</body>
</html>