<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<div id="i18n_eliminar_cliente" th:text="#{text.cliente.eliminarOk}"
		style="display: none;"></div>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}"
						class="btn btn-primary btn-xs" th:text="#{text.cliente.crear}">crear
						cliente</a>
						 <a class="btn btn-success btn-xs float-right mx-2"
						th:href="@{'/listar' (format=csv)}">CSV</a>
						 <a	class="btn btn-outline-success btn-xs float-right mx-2"
						th:href="@{'/listar' (format=xml)}">XML</a>
						 <a class="btn btn-outline-primary btn-xs float-right mx-2"
						th:href="@{'/listar' (format=json)}">Json</a>

				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">id</th>
							<th th:text="#{text.cliente.nombre}">nombre</th>
							<th th:text="#{text.cliente.apellido}">apellido</th>
							<th th:text="#{text.cliente.email}">email</th>
							<th th:text="#{text.cliente.createAt}">fecha</th>
							<th th:text="#{text.cliente.factura.crear}"
								sec:authorize="hasRole('ROLE_ADMIN')">crear factura</th>
							<th th:text="#{text.cliente.editar}"
								sec:authorize="hasRole('ROLE_ADMIN')">editar</th>
							<th th:text="#{text.cliente.eliminar}"
								sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td sec:authorize="hasRole('ROLE_USER')"><a
								class="btn btn-primary btn-xs"
								th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-success btn-xs"
								th:href="@{'/factura/form/' + ${cliente.id}}"
								th:text="#{text.cliente.factura.crear}"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${cliente.id}"
								th:text="#{text.cliente.editar}"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${cliente.id}"
								th:text="#{text.cliente.eliminar}"
								onclick="return confirm(document.getElementById('i18n_eliminar_cliente').innerHTML);"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>